@import"../globals/variables.scss";

#about-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color-ex;
    padding-left: 150px;
    padding-right: 150px;
}
.about-header-img{
    width: 550px;
    height: 350px;
    border-radius: 10px;
    margin-right: 20px;
}
.about-header-one p{
    color: $color-light;
    font-weight: 500;
    padding: 20px 0;
    width: 80%;
}
.about-header-one h3{
    font-size: 27px;
    width: 90%;
    color: $color-white;
}
.about-header-click{
    display: flex;
    margin: 20px 0;
    gap: 0 15px ;
}
.about-header-click div:first-child{
    border-style: solid;
    width: 180px;
    height: 50px;
    color: $color-space;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-space;
    a{
        color: $color-bg;
        font-weight: 500;
    }
}
.about-header-click div:nth-child(2){
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    .ti-control-play{
        font-size: 30px;
        color: $color-white;
        
    }
}
.about-header-click a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: $color-white;
}   

#_about-Reasons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding-left: 70px;
    padding-right: 70px;
    background: $color-bg;
}
._about_min_Reasons{
    text-align: center;
    p{
        color: $color-light;
        font-weight: 500;
    }
    h4{
        font-size: 30px;
        color: $color-white;
        margin: 20px 0  ;
    }
}
._about_max_Reasons{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-top: 40px;
}
._about_bar{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
._about_a{
    font-size: 25px;
    color: $color-white;
    
}
._about_a:hover{
    color: $color-space;
    transition: 0.7s all;
}
._about_text{
    color: $color-light;
}
.ti-settings,.ti-dashboard,.ti-truck,.ti-trash{
    font-size: 30px;
    color: $color-space;
}
.ti-settings:hover,.ti-dashboard:hover,.ti-truck:hover,.ti-trash:hover{
    transition: 0.9s all;
    color: rgb(40, 34, 151);
    transform: scale(1.2);
}

#_about-Experts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: $color-ex;
}
._about-Experts-one{
    text-align: center;
    margin: 20px 0;
    p{
        color: $color-light;
        font-weight: 600;
    }
    h3{
        color: $color-white;
        font-size: 35px;
        font-weight: 600;
        padding: 20px 0;
    }
}
._about-Expert-bar{
    position: relative;
}
._about-Experts-tow{
    display: flex;
    gap: 15px ;
}
._about-Experts-img{
    width: 280px;
    height: 380px;
    border-radius: 10px;
}

._about-Experts-small{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    width: 280px;
    height: 380px;
    gap: 30px ;
    top: 10px;
    padding-top: 250px;
    opacity: 0;
}
.ti-facebook,.ti-twitter,.ti-instagram{
    color: $color-space;
}
._about-Experts-solip{
    border-style: solid;
    background: $color-white;
    color: $color-white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
._about-Experts-small:hover{
    opacity: 1;
    transition: 0.7s all;
}
._about-Experts-solip:hover{
    transition: 0.7s all;
    background: $color-space;
    color: $color-space;
    .ti-facebook,.ti-twitter,.ti-instagram{
        color: $color-white;
    }
}
.pin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .luke{
        font-size: 30px;
        font-weight: 500;
        color: $color-white;
        margin-top: 10px;
    }
    p{
        font-size: 16px;
        color: $color-light;
        margin-top: 20px;
    }
}
.luke:hover{
    color: $color-space;
}

#facts-about{
    background: url(/img/g2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}
#facts-about,.facts-about-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.facts-about-one{
    color: $color-white;
    font-size: 23px;
    font-weight: 500;
    h3{
        font-size: 35px;
        margin: 10px 0;
        font-weight: 500;
    }
}
.facts-about-tow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 200px;
    margin-top: 30px;
}
.rick-about{
    color: $color-white;
    font-size: 60px;
    font-weight: 100;
    margin-top: 30px;
}
.bot-about{
    font-weight: 500;
    color: $color-white;
}
.ti-cloud-down,.ti-car,.ti-face-smile,.ti-user{
    font-size: 40px;
    color: $color-white;
    font-weight: 800;
    padding-bottom: 20px;
}

#Customer-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background: $color-bg;
}
.Customer-about-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        color: $color-light;
        font-weight: 500;
    }
    h3{
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 50px;
        color: $color-white;
    }
}
.Customer-about-tow,.Customer-about-three{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Customer-about-tow{
    padding-bottom: 50px;
}
.Customer-about-three{
    flex-direction: column;
    h3{
        color: $color-white;
        padding-top: 30px;
    }
}
.Customer-about-three p:first-child{
    text-align: center;
    padding:0 230px;
    font-size: 26px;
    color: $color-light;
    line-height: 40px;
}
.Cus{
    color: $color-white;
}
.ti-star{
    width: 40xp;
    height: 20px;
    background-color: $color-space;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-weight: 900;
}
.Customer-about-for{
    display: flex;
    gap: 15px;
    padding-top: 50px;
}
.button{
    border-style: solid;
    background: $color-white;
    width: 40px;
    height: 10px;
    gap: 15px;
    border-radius: 10px;
}
.button:hover{
    background: $color-space;
    width: 55px;
    transition: 0.5s all;
}
.big_want{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    background: $color-space;
    height: 40vh;
}
.want{
    display: flex;
    text-align: center;
}
.want h3{
    color: $color-white;
    font-size: 30px;
    font-weight: 500;
}
.want a{
    color: $color-space;
    border: 1px solid $color-white;
    padding: 10px 15px;
    background: $color-white;
    border-radius: 7px;
    font-weight: 600;
}