@import"../globals/variables.scss";

#conntact-big{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px ;
    height: 100vh;
    background: $color-ex;
}
.conntact-one h3{
    font-size: 40px;
    font-weight: 400;
    color: $color-white;
}
.conntact-one p{
    color: $color-white;
    padding: 15px 0;
}
.conntact-one input{
    height: 70px;
    width: 350px;
    color: $color-white;
    background: $color-bg;
    border: var($color-space) solid 1px;
}
textarea{
    width: 705px;
    height: 200px;
    padding: 0 15px;
    border-radius: 5px;
    background: $color-bg;
    color: $color-white;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    float:right;
    background: $color-space;
}

.conntact-tow h5{
    color: $color-white;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
}
.pin{
    display: flex;
    p{
        color: $color-white;
        padding: 0 10px;
    }
}
.ti-location-pin{
    color: $color-light;
    padding-top: 10px;
}
.ti-location-pin:hover{
    color: $color-white;
}
.link{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.ti-comments,.info{
    color: $color-light;
}
.ti-comments:hover{
    color: $color-white;
    .info{
        text-decoration:underline;
        color: $color-white;
    }
}
.mess{
    margin-top: 10px;
    .ti-headphone-alt,.phone{
        color: $color-light;
    }
}
.ti-headphone-alt:hover{
    color: $color-white;
    .phone{
        text-decoration:underline;
        color: $color-white;
    }
}
.ti-alarm-clock,p{
    color: $color-white;
}
.ti-alarm-clock:hover{
    color: $color-light;
}