@import "color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-violet);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $color-text;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}
