@import"../globals/variables.scss";


.single_big{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500vh;
    background: $color-ex;
}

.single_one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_one img{
    width: 80%;
    border-radius: 7px;
}

.single_tow{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
}
p{
    word-spacing: 2px;
    color: $color-light;
    padding-top: 15px;
}
h4{
    font-size: 25px;
    color: $color-white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 500;
}
h3{
    font-size: 30px;
    color: $color-white;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 500;
}
.without_{
    margin-bottom: 25px;
    display: flex;
    a{
        color: $color-white;
        padding: 0 5px;
        padding-top: 3px;
    }
}
.without_ p{
    padding-top: 5px;
}
.cie{
    border-left: 1px solid $color-light;
    margin: 0 10px;
    padding: 0 10px;
}

.without_1{
    border: 1px solid $color-bg ;
    border-left: 2px solid $color-space;
    border-left-width: $color-space ;
    padding: 40px;
    margin: 25px 0;
    border-radius: 13px;
    background: $color-bg;
}
.without_2{
    display: flex;
}
.without_2 img{
    width:42%;
    margin: 30px 0;
    margin-right: 30px;
    border-radius: 10px;
}
.without_2 p{
    margin-top: 20px;
    word-break: break-all;
}
.tag ul{
    list-style-type: disc;
    color: $color-light;
    margin: 10px 30px;
}
.banner{
    width: 100%;
    border-radius: 10px;
}
.tag_big{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-light;
    padding-bottom: 30px;
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    gap: 15px;
}
.block a{
    font-weight: 500;
    margin: 5px;
    color: $color-space;
    font-size: 14px;
    border: 1px solid $color-light;
    padding: 10px;
    border-radius: 7px;
}
.block a:hover{
    color: $color-light;
    background: $color-bg;
    font-weight: 500;
}
.without_3{
    border-bottom: 1px solid $color-light;
    padding: 20px 0;
}
.without_3 a {
    color: $color-light;
    font-weight: 600;
}
.without_3:hover,a:hover{
    color: $color-space;
    transition: 0.7s; 
    .ti-angle-double-left{
        color:$color-space;
        transition: 0.7s;
    }
}

.without_4{
    display: flex;
    border: 1px solid $color-light;
    border-radius: 10px;
    margin-top: 20px;
    background: rgb(27, 26, 26);
    
}
.img_4{
    width: 200px;
    height:200px;
    border-radius:100%;
    padding: 20px;
    line-height: 0.1;
}
.without_4 p{
    font-size: 25px;
}
.without_4 a{
    font-size: 20px;
    border: solid 2px yellow;   
    padding: 5px 15px;
    line-height: 3;
    border-radius: 10px;
    font-weight: 500;
}
.without_4 a:hover{
    background: $color-space;
    color: black;
}
h2{
    padding: 20px 0;
}
.without_5{
    display: flex;
    border: solid 1px $color-light ;
    border-radius: 10px;
    a{
        color: $color-space;
        margin: 0 10px;
        
    }
} 
.img_5{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 20px 20px;
}
.single_tow h2{
    color: $color-white;
    padding: 35px 0;
}
.JackHarry {
    margin: 20px 0;
    h5{
        font-size: 25px;
        color: $color-white;
    }
    .day{
        color: $color-space;
    }
    p{
        line-height: 2;
    }
}
@media only screen and (max-width:1200px){
    .single_big{
        height: 210em;
    }
}
@media only screen and (max-width:992px){
    .single_big{
        height: 200em;
    }
    .single_tow{
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media only screen and (max-width:576px){
    .single_big{
        height: 210em;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    .single_one img{
        width: 100%;
        border-radius: 7px;
    }
    .single_tow{
        padding-left: 10px;
        padding-right: 10px;
    }
    .without_1{
        border: 1px solid $color-bg ;
        border-left: 2px solid $color-space;
        border-left-width: $color-space ;
        padding: 40px;
        margin: 25px 0;
        border-radius: 13px;
        background: $color-bg;
    }
    .without_2 img{
        width:100%;
        height: 50%;
    }
    .without_2{
        display: block;
    }
}

@media only screen and (max-width:992){
    
}